.footer{
    background-color: #252b33 ;
    border-bottom: 1px solid #252b33;
    border-top: 8px solid #ae4b5d;
    
}

.footer .col3 {
    padding: 0px 10px;
    overflow: hidden;
    
    
}

.footer__text {
    padding: 0;
}
.footer__text ul{
    padding: 0;
    

 }
.footer h4{
    margin: 0;
  
    color: #a5adb8;
    font-size: 1.125rem;
    border-bottom:1px solid #40474f; 
    position:relative;
    z-index:1;
    padding: 28px 0 6px;

   
}
.footer h4::before{
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-bottom: 1px solid #191c20;
}
.footer p{
    padding: 10px 0px 0px;
}
footer .col .col3{
    margin: 0 0 5px;
}
h4 span{
    display: inline-block;
}
.footer p , footer ul{
    color: #85898f;
    font-size: 0.75rem;
}
.footer a{
    color: #d08b98;
}
.fa-solid , .fa-clock {
    color: #9c4757;
    font-size: 1rem;
    margin-right: 5px;
    position: relative;
    top: 1px;
    padding: 1px 0;
    

}
.cherry-hours ul{
    padding-left: 5px;
}
.cherry-hours li{
    list-style: none;
}

.cherry-hours .col3 li{
    padding: 2px 0 4px;
    
}


.local-cherry li{
    list-style: none

}

.local-cherry li::before{
    content: "•";
    margin-right: 5px;
    color: #9c4757;
    font-size: 14px;
    font-weight: 900;
}

.local-cherry h5 {
    border-bottom: 0;
    font-size: 0.875rem;
    font-style: bold;
    color: #a5adb8;

}



.la-location ul{   
    list-style: none;
}
.la-location li{
    margin: 5px 0;
}

#local-cherry{
    padding-left: 32px;
}
#la-location {
    padding-left: 50px;
}

